{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [".js", ".jsx"]
            }
        }
    },
    "globals": {
        "global": true,
        "astronode": true,
        "exports": true,
        "require": true,
        "jest": true,
        "expect": true,
        "it": true,
        "beforeEach": true,
        "afterEach": true,
        "describe": true,
        "console": true,
        "module": true,
        "Promise": true,
        "process": true
    },
    "overrides": [
        {
            "files": ["./**/*.js"],
            "rules": {
                "indent": ["error", 2],
                "react/jsx-indent": ["error", 2],
                "react/jsx-indent-props": ["error", 2]
            }
        }
    ]
}